/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:wght@300&display=swap');

$skyBlue: rgb(89, 160, 238);
$white:white;
*{
   font-family: 'Open Sans', sans-serif;
}
.cursor-pointer{
    cursor: pointer;
}
.padding-10px{
    padding: 10px;
}
.tool-bar-height{
    height: 10%;
}
.tool-bar-img{
    width: 185px;
}
.tool-bar-text{
    color: rgb(61, 57, 53);     
    font-weight: 600;
}
.tool-bar-btn{
    padding: 0px 10px;
    width: 165px;
    height: 40px;
    border-radius: 5px;
}
.bodyHeight{
    height: calc(100vh - 10%);
}
.overflowy{
    overflow-y: auto;
}
.skyBlueBorder,.tool-bar-btn{
        border: 1px solid $skyBlue;
}
.bgSkyBlue,.tool-bar-btn{
    background-color: $skyBlue;
}
.whiteText,.tool-bar-btn{
    color: $white;
}
.borderRadious50{
    border-radius: 50%;
}
.equalHeightWidth{
    width: 50px;
    height: 50px;
}
.paddingSide{
    padding: 0 10px;
}
.width65{
    width:65%;
}